doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Space Invaders With Vanilla Javascript
        link(rel='stylesheet' href='css/main.css')
    body
        audio(src='assets/shoot.mp3' id='shootSound')
        canvas(class='game' id='gameCanvas')
        script(src='js/traceur-runtime.js')
        script(src='js/main.js')
